<!-- This exists as a workaround over a ember-materialize-collapsible bug -->

<div id="innerSubhead" class="white black-text ">
    <div class="container" style="text-align: center">
        <h5>Instructions</h5>

        <p>Click on a question to view the details.</p>

        <p>In the details panel, you can <b>edit the question</b> text by clicking on it, typing and pressing enter</p>

        <p>In the same way, you can <b>edit the answer</b> text by clicking on it, typing and pressing enter</p>
    </div>
</div>

<div id="questionsOuterWrapper" class="flex-item">
    <div id="questionsInnerWrapper">
        <h3>Questions List</h3>

        {{md-loader mode="circular" color="blue"}}
    </div>
</div>

